{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ global_config.title }} <small>{{ global_config.subtitle }}</small></h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for p in posts %}
                {% if p.meta.get('header-image') %}
                    <img class="img-responsive"
                         alt="Post header image"
                         src="{{ url_for('static', filename=p.meta.get('header-image')) }}" />
                {% endif %}

                <h1><a href="{{ url_for('posts.post', path=p.path) }}">{{ p.title }}</a></h1>

                <p class="text-muted">
                    Published by {{ p.meta.author }} on {{ moment(p.meta.published).format('MMMM Do YYYY, h:mm:ss a') }}
                    <br/>
                    Categories: {% for c in p.meta.categories %}<a href="{{ url_for('categories.category', category_name=c) }}">{{ c }}</a> {% endfor %}
                    <br/>
                    Tags: {% for t in p.meta.tags %}<a href="{{ url_for('tags.tag', tag_name=t) }}">{{ t }}</a> {% endfor %}
                </p>

                {{ p.html|safe }}
                <hr class="intro-divider">
            {% else %}
                <h2>No posts</h2>
                <hr class="intro-divider">
            {% endfor %}

            <nav aria-label="Page navigation">
                <ul class="pager">
                    {% if posts|length > 0 %}
                        <li class="previous {% if post_page == post_page_max %}disabled{% endif %}">
                            <a href="{% if post_page < post_page_max %}{{ url_for('home.latest_posts_offset', offset=1) }}{% else %}#{% endif %}"><span aria-hidden="true">&larr;</span> Older</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}
