[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

blinker = "*"
flask = "*"
flask-flatpages = "*"
flask-htmlmin = "*"
flask-moment = "*"
flask-pretty = "*"
flask-script = "*"
flask-themes = {git = "https://github.com/rclement/flask-themes.git", ref = "master", editable = true}
flask-wtf = "*"
frozen-flask = "*"
pygments = "*"


[dev-packages]

coverage = "*"
docutils = "*"
"flake8" = "*"
flask-testing = "*"
invoke = "*"
pytest = "*"
pytest-cov = "*"
safety = "*"
sphinx = "*"
tox = "*"
funcsigs = "*"


[requires]

