[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

blinker = "*"
Flask = "*"
Flask-FlatPages = "*"
Flask-Moment = "*"
Flask-Script = "*"
Flask-Themes = {path = "git+https://github.com/rclement/flask-themes.git#egg=flask-themes", editable = true}
Flask-WTF = "*"
Frozen-Flask = "*"
Pygments = "*"


[dev-packages]

coverage = "*"
docutils = "*"
"flake8" = "*"
Flask-Testing = "*"
pytest = "*"
pytest-cov = "*"
Sphinx = "*"
tox = "*"
"e1839a8" = {path = ".", editable = true}


[requires]

