[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

blinker = "*"
flask = "*"
flask-flatpages = "*"
flask-htmlmin = "*"
flask-moment = "*"
flask-pretty = "*"
flask-script = "*"
flask-themes = {path = "git+https://github.com/rclement/flask-themes.git#egg=flask-themes", editable = true}
flask-wtf = "*"
frozen-flask = "*"
pygments = "*"


[dev-packages]

coverage = "*"
docutils = "*"
"flake8" = "*"
flask-testing = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
tox = "*"
"e1839a8" = {path = ".", editable = true}


[requires]

