<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse-id"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home.index') }}">{{ global_config.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-id">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Posts <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for p in global_config.all_posts %}
                        <li><a href="{{ url_for('posts.post', path=p.path) }}">{{ p.title }}</a></li>
                        {% else %}
                        <li><a href="#">No posts</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Pages <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for p in global_config.all_pages %}
                        <li><a href="{{ url_for('pages.page', path=p.path) }}">{{ p.title }}</a></li>
                        {% else %}
                        <li><a href="#">No pages</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{ url_for('archives.archives') }}">Archives</a></li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Categories <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for c in global_config.all_categories %}
                        <li><a href="{{ url_for('categories.category', category_name=c.name) }}">{{ c.name }}</a></li>
                        {% else %}
                        <li><a href="#">No categories</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Tags <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for t in global_config.all_tags %}
                        <li><a href="{{ url_for('tags.tag', tag_name=t.name) }}">{{ t.name }}</a></li>
                        {% else %}
                        <li><a href="#">No tags</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
    </div>
</nav>
