{% macro list_pages(pages=[]) %}
    {% for p in pages %}
        <ul>
            <li>
                <a href="{{ url_for('pages.page', path=p.path) }}">{{ p.title }}</a>

                {% if p.meta.tags|length %}
                | tags:
                    {% for t in p.meta.tags %}
                        <a href="{{ url_for('tags.tag', tag_name=t) }}">{{ t }}</a>
                    {% endfor %}
                {% endif %}

                {% if p.meta.categories|length %}
                | categories:
                    {% for c in p.meta.categories %}
                        <a href="{{ url_for('categories.category', category_name=c) }}">{{ c }}</a>
                    {% endfor %}
                {% endif %}
            </li>
        </ul>
    {% else %}
        <h3>No pages</h3>
        <hr class="intro-divider">
    {% endfor %}
{% endmacro %}

{% macro list_posts(posts=[]) %}
    {% for p in posts %}
        <ul>
            <li>
                <a href="{{ url_for('posts.post', path=p.path) }}">{{ p.title }}</a>

                {% if p.meta.tags|length %}
                | tags:
                    {% for t in p.meta.tags %}
                        <a href="{{ url_for('tags.tag', tag_name=t) }}">{{ t }}</a>
                    {% endfor %}
                {% endif %}

                {% if p.meta.categories|length %}
                | categories:
                    {% for c in p.meta.categories %}
                        <a href="{{ url_for('categories.category', category_name=c) }}">{{ c }}</a>
                    {% endfor %}
                {% endif %}
            </li>
        </ul>
    {% else %}
        <h3>No posts</h3>
        <hr class="intro-divider">
    {% endfor %}
{% endmacro %}

{% macro list_categories(categories=[]) -%}
    {% for c in categories %}
        <ul>
            <li>
                <a href="{{ url_for('categories.category', category_name=c.name) }}">{{ c.name }}</a>
            </li>
        </ul>
    {% else %}
        <h3>No categories</h3>
        <hr class="intro-divider">
    {% endfor %}
{%- endmacro %}

{% macro list_tags(tags=[]) %}
    {% for t in tags %}
        <ul>
            <li>
                <a href="{{ url_for('tags.tag', tag_name=t.name) }}">{{ t.name }}</a>
            </li>
        </ul>
    {% else %}
        <h3>No tags</h3>
        <hr class="intro-divider">
    {% endfor %}
{% endmacro %}