{% extends theme('_base.html') %}

{% import theme('_utils.html') as utils %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Tagged <em>{{ tag }}</em></h1>
    </div>

    {% if pages|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <h2>Pages</h2>
                <hr class="intro-divider">

                {{ utils.list_pages(pages) }}
            </div>
        </div>
    {% endif %}

    {% if posts|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <h2>Posts</h2>
                <hr class="intro-divider">

                {{ utils.list_posts(posts) }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}
