<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page %}{{ page.title }} | {% endif %}{{ global_config.title }}</title>

        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
              type="text/css"
              rel="stylesheet">

        <!-- Font-Awesome -->
        <link rel="stylesheet"
              type="text/css"
              href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

        <link rel="stylesheet" type="text/css" href="{{ url_for('home.pygments_css') }}">
        <link rel="stylesheet" type="text/css" href="{{ theme_static('css/app.css') }}">

        <!-- IE fixes-->
        <!--[if lt IE 9]>
              <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
              <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="app"></div>

        <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
        <script src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/moment@2.20.1/moment.js"></script>

        {% if global_config.debug %}
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        {% else %}
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
        {% endif %}

        <script>
            moment.locale("en");

            var _all_posts = {
            {% for p in global_config.all_posts %}
                '{{ p.path }}': {
                    path: '{{ p.path }}',
                    title: '{{ p.title }}',
                    author: '{{ p.meta.author }}',
                    published: moment('{{ p.meta.published }}').format('MMMM Do YYYY, h:mm:ss a'),
                    categories: [{% for c in p.meta.categories %}'{{ c }}',{% endfor %}],
                    tags: [{% for t in p.meta.tags %}'{{ t }}',{% endfor %}],
                    header_image: {% if p.meta.get('header-image') %}'{{ url_for('assets.static', filename=p.meta.get('header-image')) }}'{% else %}null{% endif %},
                    html: `{{ p.html|safe }}`,
                },
            {% endfor %}
            }

            var _all_pages = {
            {% for p in global_config.all_pages %}
                '{{ p.path }}': {
                    path: '{{ p.path }}',
                    title: '{{ p.title }}',
                    author: '{{ p.meta.author }}',
                    published: moment('{{ p.meta.published }}').format('MMMM Do YYYY, h:mm:ss a'),
                    categories: [{% for c in p.meta.categories %}'{{ c }}',{% endfor %}],
                    tags: [{% for t in p.meta.tags %}'{{ t }}',{% endfor %}],
                    header_image: {% if p.meta.get('header-image') %}'{{ url_for('assets.static', filename=p.meta.get('header-image')) }}'{% else %}null{% endif %},
                    html: `{{ p.html|safe }}`,
                },
            {% endfor %}
            }

            var _all_categories = {
            {% for c in global_config.all_categories %}
                '{{ c.name }}': {
                    name: '{{ c.name }}',
                    posts: [
                    {% for p in c.posts %}
                        _all_posts['{{ p.path }}'],
                    {% endfor %}
                    ],
                    pages: [
                    {% for p in c.pages %}
                        _all_pages['{{ p.path }}'],
                    {% endfor %}
                    ]
                },
            {% endfor %}
            }

            var _all_tags = {
            {% for t in global_config.all_tags %}
                '{{ t.name }}': {
                    name: '{{ t.name }}',
                    posts: [
                    {% for p in t.posts %}
                        _all_posts['{{ p.path }}'],
                    {% endfor %}
                    ],
                    pages: [
                    {% for p in t.pages %}
                        _all_pages['{{ p.path }}'],
                    {% endfor %}
                    ]
                },
            {% endfor %}
            }

            var _archives_monthly = {
            {% for a in global_config.archives %}
                '{{ a.date.year }}': {
                    {% for m in a.months %}
                        '{{ m.date.month }}': {
                            yearId: '{{ m.date.year }}',
                            year: moment('{{ m.date }}').format('YYYY'),
                            monthId: '{{ m.date.month }}',
                            month: moment('{{ m.date }}').format('MMMM'),
                            posts: [
                            {% for p in m.posts %}
                                _all_posts['{{ p.path }}'],
                            {% endfor %}
                            ]
                        },
                    {% endfor %}
                },
            {% endfor %}
            }

            var _archives_yearly = {
            {% for a in global_config.archives %}
                '{{ a.date.year }}': {
                    yearId: '{{ a.date.year }}',
                    year: moment('{{ a.date }}').format('YYYY'),
                    posts: [
                    {% for m in a.months %}
                    {% for p in m.posts %}
                        _all_posts['{{ p.path }}'],
                    {% endfor %}
                    {% endfor %}
                    ]
                },
            {% endfor %}
            }

            var _archives = {
            {% for a in global_config.archives %}
                '{{ a.date.year }}': {
                    yearId: '{{ a.date.year }}',
                    year: moment('{{ a.date }}').format('YYYY'),
                    count: '{{ a.count }}',
                    months: [
                    {% for m in a.months %}
                        {
                            yearId: '{{ m.date.year }}',
                            year: moment('{{ m.date }}').format('YYYY'),
                            monthId: '{{ m.date.month }}',
                            month: moment('{{ m.date }}').format('MMMM'),
                            count: '{{ m.count }}',
                            posts: [
                                {% for p in m.posts %}
                                    _all_posts['{{ p.path }}'],
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                    ]
                },
            {% endfor %}
            }

            var global_config = {
                title: '{{ global_config.title }}',
                subtitle: '{{ global_config.subtitle }}',
                posts_per_page: {{ global_config.posts_per_page }},
                all_posts: [
                    {% for p in global_config.all_posts %}
                    _all_posts['{{ p.path }}'],
                    {% endfor %}
                ],
                all_pages: [
                    {% for p in global_config.all_pages %}
                    _all_pages['{{ p.path }}'],
                    {% endfor %}
                ],
                all_categories: [
                    {% for c in global_config.all_categories %}
                    _all_categories['{{ c.name }}'],
                    {% endfor %}
                ],
                all_tags: [
                    {% for t in global_config.all_tags %}
                    _all_tags['{{ t.name }}'],
                    {% endfor %}
                ],
                archives: [
                    {% for a in global_config.archives %}
                    _archives['{{ a.date.year }}'],
                    {% endfor %}
                ]
            }
        </script>
        <script src="{{ theme_static('js/app.js') }}"></script>
    </body>
</html>
